.movie-card {
    display: flex;
    flex-direction: column;
    width: auto;
}

.movie-card-all {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.movie-card-titulo h2{
    font-size: 18px;
    font-weight: 800;
}

.movie-card-img {
    display: flex;
    flex-direction: column;
}