.busca-body {
    display: flex;
    gap: 100px;
    height: 1000px;
}

.sidebar-busca {
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}

.sidebar-busca-arrow {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar-busca-filters-dropdown {
    display: flex;
    flex-direction: column;
}
